:root {
    font-size: 62.5%;

    --light-background: #fff;
    --light-text: #000;
    --light-200: hsl(20, 100%, 95%);
    --light-800: hsl(20, 100%, 50%);
    --light-photo: hsla(20, 100%, 50%, 0.5);
    --light-nav: hsla(0, 0%, 100%, 0.9);
    --light-alt: hsl(200, 100%, 1%);

    --dark-background: hsl(200, 100%, 1%);
    --dark-text: #fff;
    --dark-200: hsl(200, 100%, 7%);
    --dark-800: hsl(200, 100%, 30%);
    --dark-photo: hsla(200, 100%, 30%, 0.5);
    --dark-nav: hsla(200, 100%, 1%, 0.95);
    --dark-alt: hsl(20, 100%, 95%);

    --background: var(--light-background);
    --text: var(--light-text);
    --color-200: var(--light-200);
    --color-800: var(--light-800);
    --photo: var(--light-photo);
    --nav: var(--light-nav);
    --alt-mode: var(--light-alt);
}

.dark-mode {
    --background: var(--dark-background);
    --text: var(--dark-text);
    --color-200: var(--dark-200);
    --color-800: var(--dark-800);
    --photo: var(--dark-photo);
    --nav: var(--dark-nav);
    --alt-mode: var(--dark-alt);
}

::selection {
    background-color: var(--color-800);
    color: #fff;
}

footer ::selection {
    background-color: #fff;
    color: var(--color-800);
}

strong {
    font-weight: bolder;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    transition: background-color 0.4s ease-out;

    * {
        transition: color 0.4s ease-out, fill 0.4s ease-out, background-color 0.4s ease-out;
    }
}

h1 {
    color: var(--color-800);
    text-align: center;
}

h2 {
    color: var(--color-800);
    font-size: 4rem;
    text-align: center;
}

h3 {
    color: var(--color-800);
    font-size: 2.25rem;
    text-align: center;
}

p {
    color: var(--text);
    font-size: 1.75rem;
    line-height: 1.25em;
}

.hidden {
    visibility: hidden;
}

.hide {
    animation: fade-out 0.5s forwards;
}

.show {
    animation: fade-in 0.5s forwards;
}

button {
    border-radius: 1rem;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: var(--color-200);
    }
}

.color-toggle {
    position: absolute;
    inset: 0 auto auto 0;
    width: 4.5rem;
    height: 4.5rem;
    margin: 2rem;
    border-radius: 100vh;
    background-color: var(--color-200);
    color: var(--color-200);
    isolation: isolate;
    overflow: hidden;

    &:hover {
        background-color: var(--color-200);
    }

    &__sun {
        position: relative;
        inset: 0;
        width: 40%;
        height: 40%;
        margin: auto;
        border-radius: 50%;
        background-color: var(--alt-mode);
        box-shadow: 0 0 0 0.3rem var(--color-200); // Outline doesn't follow border radius in safari
        transition: width 0.3s ease-out, height 0.3s ease-out;

        &__ray {
            position: absolute;
            z-index: -1;
            inset: 0;
            width: 0.4rem;
            height: 0.9rem;
            margin: auto;
            background-color: var(--alt-mode);
            border-radius: 100vh 100vh 0 0;

            &:nth-of-type(1) {
                transform: translateY(-150%);
            }

            &:nth-of-type(2) {
                transform: rotate(45deg) translateY(-150%);
            }

            &:nth-of-type(3) {
                transform: rotate(90deg) translateY(-150%);
            }

            &:nth-of-type(4) {
                transform: rotate(135deg) translateY(-150%);
            }

            &:nth-of-type(5) {
                transform: rotate(180deg) translateY(-150%);
            }

            &:nth-of-type(6) {
                transform: rotate(225deg) translateY(-150%);
            }

            &:nth-of-type(7) {
                transform: rotate(270deg) translateY(-150%);
            }

            &:nth-of-type(8) {
                transform: rotate(315deg) translateY(-150%);
            }
        }
    }

    &__moon {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background-color: var(--color-200);
        transform: translateX(115%);
        transition: transform 0.3s ease-out;
    }
}

.enable-dark__sun {
    width: 80%;
    height: 80%;
}

.enable-dark__moon {
    transform: translateX(35%);
}

.nav-button {
    background-color: var(--color-200);
    z-index: 100;
    float: right;
    position: fixed;
    width: 3.5rem;
    height: 3.5rem;
    right: 0;
    border: transparent;
    padding: 2.5rem;
    margin: 0.75rem 2rem;

    &__bar {
        position: absolute;
        width: 70%;
        margin: auto;
        height: 0.5rem;
        background-color: var(--color-800);
        border-radius: 100rem;
        transform-origin: center;
        inset: auto 0;
        transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;

        &--top {
            transform: translate(0, calc(-50% - 1.2rem));
        }

        &--middle {
            transform: translate(0, -50%);
        }

        &--bottom {
            transform: translate(0, calc(-50% + 1.2rem));
        }
    }
}

.nav {
    position: fixed;
    inset: auto 0;

    &__links {
        display: flex;
        justify-content: center;

        button {
            pointer-events: none;

            h2 {
                transform: translate(3rem, 0);
                opacity: 0;
                margin: 0;
                padding: 2rem;
                transition: transform 0.5s ease, opacity 0.5s ease;
            }
        }
    }
}

@supports (backdrop-filter: blur(5px)) {
    .nav {
        backdrop-filter: blur(5px);

        &__links {
            button {
                filter: drop-shadow(0 0 3px var(--background));
            }
        }
    }
}

@supports not (backdrop-filter: blur(5px)) {
    .nav {
        background-color: var(--nav);
    }
}

.shift {
    pointer-events: initial !important;
    transform: translate(0, 0) !important;
    opacity: 1 !important;
}

.top-rotate {
    transform: translate(0rem, -50%) rotate(45deg);
}

.middle-leave {
    transform: translate(-100%, -50%);
    opacity: 0;
    pointer-events: none;
}

.bottom-rotate {
    transform: translate(0rem, -50%) rotate(-45deg);
}

.separator {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -1;

    &:nth-of-type(odd) {
        --fill: var(--color-200);
    }

    &:nth-of-type(even) {
        --fill: var(--background);
        background-color: var(--color-200);

        .separator__wave {
            margin-left: -30rem;
        }
    }

    &:last-of-type {
        --fill: var(--color-800);
        background-color: var(--color-200);
    }

    &__wave {
        display: block;
        width: 400%;
        min-width: calc(150rem * 4);

        fill: var(--fill);

        animation: 60s linear infinite running drift;
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        margin-top: -1px;
        height: 0.5rem;
        background-color: var(--fill);
        transition: background-color 0.4s ease-out;
    }
}

footer {
    background-color: var(--color-800);
    padding: 5rem;
    padding-top: 3rem;

    h2 {
        margin: 0;
        color: white;
        font-weight: inherit;
    }

    a {
        color: var(--color-200);
    }

    p {
        text-align: center;
        margin-bottom: 0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
        background-color: transparent;
    }
}

@keyframes fade-in {
    from {
        visibility: visible;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes drift {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-25%);
    }
}

@media (pointer: coarse), (max-width: 500px) {
    .nav {
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &__links {
            flex-direction: column;
            gap: 2vh;

            button {
                h2 {
                    font-size: 5rem;
                }
            }
        }
    }
}
